body {
    background-color: rgb(63, 168, 44);
}
a   {
    color: #00ff;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  p {
    color: red;
    background-color: blanchedalmond;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    width: 50%;
    padding: 15px;
    margin: 15px;
  }

form{
  justify-content: center;
    display: grid;
    align-content: stretch
}